#topnav{
    display: flex;
    gap: 10px;
}
#midnav{
    display: flex;
    gap: 10px;
    background-color:green;
    color: white;
}
#navbar{
    display: flex;
    gap: 10px;
}
#summercolum{
    
    display: flex;
    gap: 1px;
}
#heading2{
    display: flex;
    gap: 1px;
}
#heading3{
    display: flex;
    gap: 5px;
    padding-bottom: 5px;
}
#heading4{
    display: flex;
    gap: 5px;
}
button{
    background-color: green;
}
#feature{
    text-align: center;
}
#heading5{
display: flex;
gap: 10px;
padding-bottom: 10%;

}
#heading6{
    display: flex;
    gap: 10px;
    padding-bottom: 5%;

}
#heading7{
    display: flex;
}
#heading8{
    display: flex;
    

}
#clientsbar{
    text-align: center;
    color: chartreuse;
}

@media screen and (max-width:1200px) and (min-width:0px){
    #topnav{
        display: flex;
        gap: 1px;
        flex-wrap: wrap;

    }
    #midnav{
        display: flex;
        gap: 1px;
    flex-wrap: wrap;
    }
    #navbar{
         display: flex; 
        gap:1px;
        flex-wrap: wrap;
        

    }
    #summercolum{
        display: flex;
        flex-wrap: wrap;

        


    }
    
    #heading2{
        flex-wrap: wrap;
        flex-direction: row;
        font-size: smaller;
    }
    #heading3{
        display: flex;
        gap: 1px;
        flex-wrap: wrap;
       
    }
    #heading4{
        display: flex;
        gap: 1px;
        flex-wrap: wrap;
        width: fit-content;
    }
    #heading5{
        display: flex;
        gap: 1px;
        flex-wrap: wrap;
        
        
        }
        #heading6{
            display: flex;
            gap: 1px;
            flex-wrap: wrap;
        
        }
        #heading7{
            display: flex;
            flex-wrap: wrap;
        }
        #heading8{
            flex-wrap: wrap;
        }
        





}





    
